<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

    <title>My Tasks</title>
  </head>
  <body>

    <div class="container">
    <h1 class="header">Task Master </h1>

    <p class="p-create-task"><a class="waves-effect waves-light btn z-depth-2 create-task" href="/new">New Task</a></p>

    <table class="highlight bordered">
      <thead>
        <tr>
          <th class="td-align-left">Title</th>
          <th class="td-align-left">Task</th>
        </tr>
      </thead>

      <tbody>
           <% for(var i = 0; i < tasks.length; i++){ %>

            <tr>
               <td class="td-align-left"> <%= tasks[i].task %> </td>
               <td class="td-align-left"> <%= tasks[i].content %> </td>
               <td><a class="btn-floating btn waves-effect waves-light orange edit-delete" href="/edit/<%=tasks[i]._id%>"> <i class="small material-icons"> mode_edit </i> </a> &nbsp<a class="btn-floating btn waves-effect waves-light red edit-delete" href="/destroy/<%=tasks[i]._id%>"> <i class="small material-icons"> delete </i> </a></td> <!--grab the id from task loop and push it to the destroy link-->
            </tr>

          <% } %>

    </tbody>
  </table>

  </div>
  </body>
</html>
