<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>TO DO 8=D </h1>

    <button><a href="/new">Create Task</a></button>

    <p><% for(var i = 0; i < tasks.length; i++){ %></p>
      <span> <%= tasks[i].content %> </span>

    <% } %>
  </body>
</html>
