<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    <form id="create_task" action="/new" method="post">
        <div>
          <label for="Task">Task: </label>
          <input type="text" id="task" name="task"></input>
        </div>

        <div>
          <label for="Task">Content: </label>
          <input type="text" id="content" name="content"></input>
        </div>
        <input type="submit" value="Submit"></input>
    </form>

    <button><a href="/new">Create Task</a></button>


  </body>
</html>
