<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="/public/style.css">
    <title></title>
  </head>
  <body>


    <form id="create_task" action="/new" method="post">
        <div>
          <label for="task">Task: </label>
          <input type="text" id="task" name="task"></input>
        </div>

        <div>
          <label for="task">Content: </label>
          <input type="text" id="content" name="content"></input>
        </div>
        <input type="submit" value="Submit"></input>
    </form>



  </body>
</html>
