/*-----INDEX-----*/
.edit-delete {
  margin-right: 10px;
}
th {
  text-align: right;
}
td {
  text-align: right;
}
.td-align-left{
  text-align: left;
}
a.create-task {
  display: inline-block;
  text-align: center;
  margin: 10px 0 0px 0;
  border-radius: 10px;
}
.p-create-task{
  display: block;
  text-align: left;
}
.header {
  text-align: center;
}

/*-----NEW-----*/
.submit-new{
  display: block;
  text-align: center;
  margin-top: 30px;
}
.big-container {
  margin: 150px;
  position: relative;
  top: 100px;
}
/*-----LOGO-----*/
#logo-index {
  display: block;
  margin: 0 auto;
  width: 380px;
}
#logo-new {
  display: block;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
}
/*-----Back-----*/
.back {
  text-align: center;
  font-size: 17px;
}
